@inherits InputBase<string>


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@Title</span>
    </div>
    <input type="@Type" class="form-control" @bind="CurrentValue" />
</div>
